<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Getting Started: Serving Web Content</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>
		"BrowseQuestions !!!"
		<h1 />
		<a href="/addquestion">Add a question</a>
	<div>Total questions:</div> <div th:text=${#lists.size(questions)}> </div>
      <div>
          <table class="table table-striped table-responsive-md">
              <tbody>
                  <tr th:each="question : ${questions}">
                  	<table>
                  		<tr>
                      <td>Q:</td><td th:text="${question.questionText}"></td>
                  </tr>
                  <tr>
                      <td>A:</td><td th:text="${question.answer}"></td>
                  </tr>
                  	</table>
                      
                  </tr>
                  
              </tbody>
          </table>
      </div>
	
		
</body>
</html>